@media screen and (max-width:480px) {

	.wrapper{
		overflow: hidden;
		margin-bottom: 0;
	}

	.slogan{
		background-size: 75%;
		position: inherit;
		margin: 0 25% 0 9%;
		width: 100%;
	}

	.logo {
		background-size: 160px;
		background-position-x: 50%;
		margin: 126px 25% 0 25%;
		width: 50%;
		height: 160px;
	}

	.header {
		margin-top: 50px;
	}

	.content__title{
		font-size: 20px;
		padding-top: 30px;
		line-height: 25px;
	}

	.content__zagolovok{
		font-size: 25px;
		margin-top: 40px;
	}

	.content__uslugi{
		font-size: 15px;
	}

	.uslugi{
		margin: 0 auto;
		width: 150%;
	}

	.uslugi__item{
		margin: 15px 2% 0 0%;
		width: 32%;
	}


	.uslugi__description{
		margin: 0 auto;
		width: 161px;
		font-size: 13px;
		margin-top: 10px;
	}

	.left-block{
		margin-left: 15px;
	}

	.megafon-block__title{
		font-size: 15px;
	}

	.domru-block__title{
		font-size: 15px;
	}

	.megafon-block__client, .domru-block__client{
		text-align: left;
		font-size: 13px;
		padding-left: 7px;
	}

	.domru-block__del-tv{
		font-size: 12px;
	}

	.right-block{
		float: left;
		width: 86%;
		height: 400px;
		padding-right: 50px;
	}

	.right-block__send-button{
		margin: 0;
	}

	.vopros-otvet__title{
		font-size: 23px;
	}

	.vopros-otvet__vopros{
		font-size: 13px;
		padding: 0;
		padding-bottom: 7px;
	}
/**/
	.megafon-icon-col, .domru-icon-col{
		margin: 0;
		width: 20px;
	}

	.megafon-icon-col__logo, .megafon-icon-col__call, .megafon-icon-col__4g, .megafon-icon-col__mail, .megafon-icon-col__price, .megafon-icon-col__sale,
	.domru-icon-col__logo, .domru-icon-col__internet, .domru-icon-col__sd, .domru-icon-col__hd, .domru-icon-col__price, .domru-icon-col__sale{
		background-size: 15px;
		margin: 0;
		margin-top: 5px;
		height: 20px;
	}

	.block-tarif{
		width: 75px; 
	}

	.block-tarif__item{
		font-size: 9px;
		line-height: 25px;
		padding-left: 3px;
	}

	.cell-gray-col__no, .cell-gray-col__yes{
		height: 25px;
		width: 300px;
	}

	.block-tarif__change{
		font-size: 9px;
	}

	.megafon-block, .domru-block{
		float: none;
		width: 325px;
		margin: 0 auto;
	}

	.megafon-hit, .domru-hit{
		background-size: 20px;
		background-position: 17px 10px;
	}

	.js-change{
		background-size: 55px;
		background-position: 3px 7px;
		height: 25px;
	}

	.left-block{
		margin-left: 0;
		width: 100%;
	}




}

@media screen and (min-width:480px) and (max-width:768px) {
	.wrapper{
		overflow: hidden;
		margin-bottom: 0;
	}

	.slogan{
		background-size: 70%;
		position: inherit;
		margin: 0 25% 0 9%;
		width: 100%;
	}

	.logo {
		background-size: 160px;
		background-position-x: 50%;
		width: 50%;
		height: 160px;
		float: right;
		margin-top: 126px;
	}

	.header {
		margin-top: 50px;
	}

	.content__title{
		font-size: 20px;
		padding-top: 30px;
		line-height: 25px;
	}

	.content__zagolovok{
		font-size: 25px;
		margin-top: 40px;
	}

	.content__uslugi{
		font-size: 15px;
	}

	.uslugi{
		margin: 0 auto;
		width: 150%;
	}

	.uslugi__item{
		margin: 15px 2% 0 0%;
		width: 32%;
	}


	.uslugi__description{
		margin: 0 auto;
		width: 161px;
		font-size: 15px;
		margin-top: 10px;
	}

	.left-block{
		margin-left: 15px;
	}

	.megafon-block__title{
		font-size: 16px;
	}

	.domru-block__title{
		font-size: 16px;
	}

	.megafon-block__client, .domru-block__client{
		text-align: left;
		font-size: 13px;
		padding-left: 7px;
		margin-top: 43px;
	}

	.domru-block__del-tv{
		font-size: 12px;
	}

	.right-block{
		float: left;
		width: 86%;
		height: 400px;
		padding-right: 50px;
	}

	.right-block__send-button{
		margin: 0;
	}

	.vopros-otvet__title{
		font-size: 27px;
	}

	.vopros-otvet__vopros{
		font-size: 14px;
		padding: 0;
		padding-bottom: 7px;
	}
/**/
		.megafon-icon-col, .domru-icon-col{
		margin: 0;
		width: 20px;
	}

	.megafon-icon-col__logo, .megafon-icon-col__call, .megafon-icon-col__4g, .megafon-icon-col__mail, .megafon-icon-col__price, .megafon-icon-col__sale,
	.domru-icon-col__logo, .domru-icon-col__internet, .domru-icon-col__sd, .domru-icon-col__hd, .domru-icon-col__price, .domru-icon-col__sale{
		background-size: 17px;
		margin: 0;
		margin-top: 5px;
		height: 25px;
	}

	.block-tarif{
		width: 95px; 
	}

	.block-tarif__item{
		font-size: 12px;
		line-height: 30px;
		padding-left: 4px;
	}

	.cell-gray-col__no, .cell-gray-col__yes{
		height: 30px;
		width: 380px;
	}

	.block-tarif__change{
		font-size: 11px;
	}


	.megafon-block, .domru-block{
		float: none;
		width: 400px;
		margin: 0 auto;
	}

	.megafon-hit, .domru-hit{
		background-size: 25px;
		background-position: 18px 10px;
	}

	.js-change{
		background-size: 60px;
		background-position: 9px 9px;
		height: 30px;
	}

	.left-block{
		margin-left: 0;
		width: 100%;
	}


}

@media screen and (min-width:768px) and (max-width:1024px) {
	.wrapper{
		overflow: hidden;
		margin-bottom: 0;
	}

	.slogan{
		background-size: 98%;
		position: inherit;
		width: 375px;
		float: left;
		margin: 0;
		margin-left: 10%;
	}

	.logo {
		background-size: 98%;
		height: 285px;
		width: 290px;
		float: left;
		margin-top: 0;
		margin-left: 10px;
	}

	.header {
		margin-top: 50px;
	}

	.content__title{
		font-size: 20px;
		padding-top: 30px;
		line-height: 25px;
	}

	.content__zagolovok{
		font-size: 25px;
		margin-top: 40px;
	}

	.content__uslugi{
		font-size: 15px;
	}

	.uslugi{
		margin: 0 auto;
		width: 150%;
	}

	.uslugi__item{
		margin: 15px 2% 0 0%;
		width: 15%;
	}


	.uslugi__description{
		margin: 0 auto;
		width: 161px;
		font-size: 15px;
		margin-top: 10px;
	}

	.left-block{
		margin-left: 15px;
		float: none;
		margin: 0 auto;
	}

	.megafon-block__title{
		font-size: 16px;
	}

	.domru-block__title{
		font-size: 16px;
	}

	.megafon-block__client, .domru-block__client{
		text-align: center;
		font-size: 13px;
		padding-left: 7px;
		margin-top: 43px;
	}

	.domru-block__del-tv{
		font-size: 12px;
	}

	.right-block{
		float: none;
		margin: 0 auto;
		overflow: hidden;
		width: 50%;
		height: 400px;
		padding-right: 50px;
	}

	.right-block__send-button{
		margin: 0;
	}

	.vopros-otvet__title{
		font-size: 27px;
	}

	.vopros-otvet__vopros{
		font-size: 14px;
		padding: 0;
		padding-bottom: 7px;
	}

}